<!DOCTYPE html>
<html lang="en">

<head>
  <title>/ - ethan miller's website</title>
  <meta name="ethan miller's website -- /" content="ethan miller's shenanigans but on a website" />
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/extra.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ethan miller's website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://pinto-trollius.glitch.me/" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">ethan miller</a>
        <li class="nav-item active">
          <a class="nav-link" href="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/references">references</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="https://docs.google.com/document/d/1i2vOWKOXx6mT_khL62Ub8kL-ndis2JgBUrts0jlsJYw/edit?usp=sharing">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://linktr.ee/eemilsic">linktree</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            contact me
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">anything with an @ before<br> it is a social media platform</h6>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">@oatmilsic</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">5574@protonmail.com</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">620 719 7412</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container">

    <p class="lead mt-4">
      hey this is my website. this is kind of like a database of my
      shenanigans. i wrote this thing using bootstrap 4 and it's hosted on
      glitch (thank you). feel free to contact me whenever you want if you
      want something: i'm always open to communicating
    </p>

    <table class="table mt-4">
      <thead class="thead">
        <tr>
          <th scope="col">gigs and shows</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>nov 15 2019 & 7:00pm @ memorial auditorium</td>
          <td>the first showing of <em>pippin</em>.</td>
          <td><a href="#">watch</a></td>
        </tr>
        <tr>
          <td>nov 16 2019 & 2:00pm + 7:00pm @ memorial auditorium</td>
          <td>the second showing of <em>pippin</em>.</td>
          <td><a href="#">watch</a></td>
        </tr>
        <tr>
          <td>nov 17 2019 & 2:00pm @ memorial auditorium</td>
          <td>the third showing of <em>pippin</em>.</td>
          <td><a href="#">watch</a></td>
        </tr>
      </tbody>
    </table>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/6a808cc492.js"></script>
  <script src="/public/pug-render.js"></script>
</body>

</html>