<!DOCTYPE html>
<html lang="en">

<head>
  <title>/portfolio - ethan miller's website</title>
  <meta name="ethan miller's website -- /portfolio" content="ethan miller's shenanigans but on a website" />
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/extra.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ethan miller's website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://pinto-trollius.glitch.me/" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">ethan miller</a>
        <li class="nav-item">
          <a class="nav-link" href="/">home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/references">references</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="https://docs.google.com/document/d/1i2vOWKOXx6mT_khL62Ub8kL-ndis2JgBUrts0jlsJYw/edit?usp=sharing">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://linktr.ee/eemilsic">linktree</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            contact me
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">anything with an @ before<br> it is a social media platform</h6>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">@oatmilsic</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">5574@protonmail.com</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">620 719 7412</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container">

    <div class="alert alert-warning mt-4" role="alert">
      this website isn't finished yet. not all information is here. you can still use the links though.
    </div>

    <h1 class="display-3" style="margin-top: 3rem;">
      Check out my work
    </h1>

    <section class="row mt-4">

      <section class="col">

        <article class="card">
          <img src="https://cdn.glitch.com/9c07f4a6-7152-489f-b587-11e620271675%2F13.jpg?v=1571083776391"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Crawford Expo</h5>
            <p class="card-text">Crawford Expo is a music venue in Pittsburg, KS, open to all admission and designed to
              promote cultural innovation. Crawford Expo's goal is to provide economically disadvantaged and
              inexperienced musicians and creatives with a platform to show their art to the world</p>
            <a href="#" class="btn btn-primary">Linktree</a>
            <a href="#" class="btn btn-secondary"><i class="fab fa-instagram"></i></a>
            <a href="#" class="btn btn-secondary"><i class="fab fa-twitch"></i></a>
          </div>
        </article>
      </section>

      <section class="col">

        <article class="card">
          <img src="https://cdn.glitch.com/9c07f4a6-7152-489f-b587-11e620271675%2F11.jpg?v=1571083779008"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PHS Jazz Ensemble 2020</h5>
            <p class="card-text">Recordings of the PHS Jazz Ensemble performing my arrangements of various popular jazz
              songs, such as <em>Lingus</em> by Snarky Puppy and <i>Summon the Fire</i> by The Comet is Coming</p>
            <a href="#" class="btn btn-primary"><i class="fab fa-youtube"></i></a>
            <a href="#" class="btn btn-secondary"><i class="fab fa-bandcamp"></i></a>
            <a href="https://open.spotify.com/playlist/5cvVp64X2e3ym67Xid4Ug5?si=tBCs-99cTxenW31nNwBmDA"
              class="btn btn-secondary">What I arranged</a>
            <a href="https://www.dropbox.com/sh/t5kx08gmr9yorqf/AADWmAd5_n7TcQCIHUf_taVta?dl=0"
              class="btn btn-secondary">Sheet music</a>
          </div>
        </article>
      </section>

      <section class="col">

        <article class="card">
          <img
            src="https://cdn.glitch.com/9c07f4a6-7152-489f-b587-11e620271675%2F00000IMG_00000_BURST20191013164234100_COVER.jpg?v=1571082102958"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><em>Crawford</em> EP</h5>
            <p class="card-text"><em>Crawford</em> is Ethan's first official musical statement to the outside world.
              Released on March 1st, 2020, <em>Crawford</em> consolidates and expresses Ethan's creative impulses and
              previous influences into a compilation of various live improvisation sessions</p>
            <p class="card-text"><b>Credits</b></p>
            <ul class="card-text">
              <li><mark>Ethan Miller</mark> - Electric bass, upright bass, EWI, vocals, mixing, mastering, distribution
              </li>
              <li><mark>Oaklen Gallagher</mark> - Keyboard, vocals</li>
              <li><mark>Davyen Lunday</mark> - Tenor sax</li>
              <li><mark>Jack Stefanoni</mark> - Acoustic drums</li>
              <li><mark>Dallas Smith</mark> - Acoustic guitar, violin</li>
              <li><mark>Tyler Coleman</mark> - Cello</li>
              <li><mark>Friko Braun</mark> - Electric guitar</li>
            </ul>
            <a href="#" class="btn btn-primary">Linktree</a>
            <a href="#" class="btn btn-secondary"><i class="fab fa-spotify"></i></a>
            <a href="#" class="btn btn-secondary"><i class="fab fa-bandcamp"></i></a>
          </div>
        </article>
      </section>
      <section class="col">

        <article class="card">
          <img src="https://cdn.glitch.com/9c07f4a6-7152-489f-b587-11e620271675%2F7.jpg?v=1571083777227"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><em>Pippin: Bassists' Perspective</em></h5>
            <p class="card-text">This video is a combination Adam Neely and Rhett Shull-style gig vlog, as well as a
              Nahre Sol or 8-bit music theory deconstruction of my experience playing bass for <em>Pippin</em>, as
              produced by Pittsburg High School</p>
            <a href="#" class="btn btn-primary"><i class="fab fa-youtube"></i></a>
            <a href="#" class="btn btn-secondary">Read more</a>
          </div>
        </article>
      </section>

    </section>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/6a808cc492.js"></script>
</body>

</html>