<!DOCTYPE html>
<html lang="en">

<head>
    <title>/references - ethan miller's website</title>
    <meta name="ethan miller's website -- /references" content="ethan miller's shenanigans but on a website" />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/extra.css" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="ethan miller's website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://pinto-trollius.glitch.me/" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="/">ethan miller</a>
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">portfolio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/references">references</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://docs.google.com/document/d/1i2vOWKOXx6mT_khL62Ub8kL-ndis2JgBUrts0jlsJYw/edit?usp=sharing">resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linktr.ee/eemilsic">linktree</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        contact me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="https://www.instagram.com/eemilsic/"><i
                                class="fab fa-instagram"></i>&nbsp;&nbsp;@eemilsic</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text"><i class="fab fa-discord"></i>&nbsp;&nbsp;5574#5289</span>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text"><i
                                class="fas fa-envelope"></i>&nbsp;&nbsp;5574@protonmail.com</span>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text"><i class="fas fa-mobile"></i>&nbsp;&nbsp;620 719 7412</span>
                    </div>
        </div>
        </li>
        </ul>
        </div>
    </nav>



    <main role="main" class="container">

        <div class="alert alert-warning mt-4" role="alert">
            this website isn't finished yet. not all information is here. you can still use the links though.
        </div>

        <h1 class="display-3">references</h1>

        <p class="lead"><mark>click on the name to see the info!</mark> this page has references voluntarily provided
            by various people i've worked with. you can
            contact these individuals and ask them about me if you want</p>

        <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#mung">dr. raul
                munguia</a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#neil">cooper
                neil</a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#uttley">kristen
                uttley</a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#bull">rebecca
                turnbull</a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#west">morgan
                westervelt</a>
        </ul>

        <div class="modal fade" id="mung" tabindex="-1" role="dialog" aria-labelledby="neil" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">raul munguia</h5>
                    </div>
                    <div class="modal-body">
                        bruh
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn-primary btn btn-sm" href="#">phs band</a>
                        <a type="button" class="btn-dark btn btn-sm" href="#">pageant boys</a>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle btn-sm"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                contact
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="uttley" tabindex="-1" role="dialog" aria-labelledby="neil" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">kristen uttley</h5>
                    </div>
                    <div class="modal-body">
                        bruh
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn-primary btn btn-sm" href="#">phs band</a>
                        <a type="button" class="btn-dark btn btn-sm" href="#">pageant boys</a>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle btn-sm"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                contact
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="neil" tabindex="-1" role="dialog" aria-labelledby="neil" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">cooper neil</h5>
                    </div>
                    <div class="modal-body">
                        bruh
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn-primary btn btn-sm" href="#">phs band</a>
                        <a type="button" class="btn-dark btn btn-sm" href="#">pageant boys</a>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle btn-sm"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                contact
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="bull" tabindex="-1" role="dialog" aria-labelledby="neil" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">rebecca turnbull</h5>
                    </div>
                    <div class="modal-body">
                        bruh
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn-primary btn btn-sm" href="#">phs band</a>
                        <a type="button" class="btn-dark btn btn-sm" href="#">pageant boys</a>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle btn-sm"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                contact
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="west" tabindex="-1" role="dialog" aria-labelledby="west" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">morgan westervelt</h5>
                    </div>
                    <div class="modal-body">
                        <p>brief description of westervelt</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">westervelt quote about me</p>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn-primary btn btn-sm" href="#">phs volleyball</a>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle btn-sm"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                contact
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <span class="dropdown-item-text"><i class="fas fa-envelope"></i>&nbsp;&nbsp;
                                    mwestervelt@usd250.org</span>
                                <span class="dropdown-item-text"><i class="fas fa-mobile"></i>&nbsp;&nbsp;620 235 3200
                                    ext.
                                    3218</span>

                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/6a808cc492.js"></script>
</body>

</html>